@using TestApp.Resource
@{
    ViewBag.Title = "Contacts";
}
<style type="text/css">
    .text-gray {
        color: gray;
        text-decoration: solid;
        text-shadow: 1px 1px 1px #808080;
    }

    .no-shadow {
        box-shadow: none;
    }

    .required {
        color: red;
    }
</style>
<h3>@AppResources.Contact</h3>
<div ng-controller="ContactCtrl" ng-init="Init()">
    <div class="InputForm">
        <form id="contactform" name="contactForm" ng-submit="SaveContactDetails()">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtFirstName">@AppResources.FirstName</label> <span class="required">*</span>
                    <input type="text" id="txtFirstName" name="txtFirstName" maxlength="40" class="form-control" ng-model="ContactDetails.FirstName" placeholder="@AppResources.FirstName" required />
                </div>
                <div class="col-md-3">
                    <label for="txtLastName">@AppResources.LastName</label> <span class="required">*</span>
                    <input type="text" id="txtLastName" name="txtLastName" maxlength="40" class="form-control" ng-model="ContactDetails.LastName" placeholder="@AppResources.LastName" required />
                </div>
                <div class="col-md-3">
                    <label for="txtEmailId">@AppResources.Email</label> <span class="required">*</span>
                    <input type="email" id="txtEmailId" name="txtEmailId" maxlength="40" class="form-control" ng-model="ContactDetails.EmailId" placeholder="@AppResources.Email" required />
                </div>
                <div class="col-md-3">
                    <label for="txtMobileNo">@AppResources.MobileNumber</label> <span class="required">*</span>
                    <input type="text" id="txtMobileNo" name="txtMobileNo" maxlength="10" class="form-control" ng-model="ContactDetails.MobileNo" placeholder="@AppResources.MobileNumber" required />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <label for="chkIsActive">@AppResources.Active</label>
                    <input type="checkbox" id="chkIsActive" name="chkIsActive" class="form-control no-shadow" ng-model="ContactDetails.IsActive" />
                </div>
                <div class="col-md-1">
                    <label for="chkIsFavourite">@AppResources.Favourite</label>
                    <input type="checkbox" id="chkIsFavourite" name="chkIsFavourite" class="form-control no-shadow" ng-model="ContactDetails.IsFavourite" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <input class="btn btn-success" type="submit" value="@AppResources.Submit" />
                </div>
                <div class="col-md-1">
                    <button class="btn" ng-click="ClearForm()">@AppResources.Clear</button>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="Grid">
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-7">
                <span class="badge bg-info" style="margin-top:10px">
                    @AppResources.TotalContacts : {{totalcount}}
                </span>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" maxlength="30" placeholder="@AppResources.SearchBy" ng-model="Param.SearchString" />
            </div>
            <div class="col-md-2 pull-right">
                <a href="#" ng-click="Param.PageIndex = 1;GetContacts()" class="btn btn-info">@AppResources.Search</a>
                <a href="#" ng-click="Param.SearchString = '';GetContacts()" class="btn btn-default">@AppResources.Clear</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered table-hover tabel-condensed">

                        <thead>

                            <tr>

                                <th ng-click="SortBy('FirstName')">
                                    @AppResources.FirstName
                                    <span ng-show="Param.OrderByField == 'FirstName'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('LastName')">
                                    @AppResources.LastName
                                    <span ng-show="Param.OrderByField == 'LastName'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('MobileNo')">
                                    @AppResources.ContactNumber
                                    <span ng-show="Param.OrderByField == 'MobileNo'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('EmailId')">
                                    @AppResources.Email
                                    <span ng-show="Param.OrderByField == 'EmailId'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('IsActive')">
                                    @AppResources.Active
                                    <span ng-show="Param.OrderByField == 'IsActive'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('IsFavourite')">
                                    @AppResources.Favourite
                                    <span ng-show="Param.OrderByField == 'IsFavourite'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th>@AppResources.Action</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr ng-repeat="e in ContactData">

                                <td>{{e.FirstName}}</td>

                                <td>{{e.LastName}}</td>

                                <td>{{e.MobileNo}}</td>

                                <td>{{e.EmailId}}</td>

                                <td><input type="checkbox" class="form-control checkbox-inline no-shadow" ng-model="e.IsActive" ng-click="ActiveInactiveContact(e.ContactId,!e.IsActive)"></td>

                                <td><input type="checkbox" class="form-control checkbox-inline no-shadow" ng-model="e.IsFavourite" ng-click="FavouriteContact(e.ContactId,!e.IsFavourite)"></td>

                                <td>
                                    <button class="btn btn-info" ng-click="EditContact(e.ContactId)">@AppResources.EDIT</button>
                                    <button class="btn btn-danger" ng-click="DeleteContactDetails(e.ContactId)">@AppResources.DELETE</button>
                                </td>
                            </tr>

                            <tr ng-if="ContactData.length == 0">
                                <td colspan="7" class="text-center">
                                    @AppResources.NoDataFound
                                </td>
                            </tr>

                        </tbody>

                        <tfoot>

                            <tr ng-if="ContactData.length != 0">

                                <td align="center" colspan="7   ">

                                    <span class="form-group pull-left page-size form-inline">

                                        <select id="ddlPageSize" class="form-control control-color"
                                                ng-model="Param.PageSize"
                                                ng-change="changePageSize()">

                                            <option value="5" selected>5</option>

                                            <option value="10">10</option>

                                            <option value="25">25</option>

                                            <option value="50">50</option>

                                        </select>

                                    </span>
                                    <span style="text-align:center;font-size:15px;">
                                        <a ng-repeat="n in [].constructor(numPages) track by $index" ng-click="Param.PageIndex = $index + 1;pagechanged()">{{ $index + 1 }} </a>
                                    </span>
                                    <div class="pull-right">
                                        @*<pagination total-items="totalcount" ng-change="pagechanged()" items-per-page="Param.PageSize" direction-links="true" ng-model="Param.PageIndex" max-size="maxsize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>*@
                                        <a class="btn btn-primary">Page: {{Param.PageIndex}} / {{numPages}}</a>
                                    </div>

                                    @*<div class="pull-right">
                                            <div data-pagination="ContactData"
                                                 data-num-pages="numPages"
                                                 data-current-page="Param.PageIndex"
                                                 data-max-size="maxsize"
                                                 data-boundary-links="true">
                                            </div>
                                        </div>*@
                                </td>

                            </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Contact")

<script>
    var SomethingWentWrongMessage = '@AppResources.SomethingWentWrongMessage';
    var InvalidMobileNumber = '@AppResources.InvalidMobileNumber';
    var NoContactSelected = '@AppResources.NoContactSelected';
</script>

